
              <div class="card">

                <div class="card-body">

                  <div class="card-header">
                    <h5 class="card-title text-center">Change Password</h5>
                    <p class="text-center small text-danger">{{loginError}}</p>
                  </div>

                  <form class="row g-2 justify-content-center" @submit.prevent="loginForm()">

                    <div class="col-12">
                      <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="icon-key"></i></span>
                        <input type="password" placeholder="Password" autocomplete="new-password" class="form-control" id="yourPassword" required v-model="form.new_password1">
                        
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="input-group">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="icon-key"></i></span>
                        <input type="password" placeholder="Confirm Password" autocomplete="new-password" class="form-control" id="yourPassword" required v-model="form.new_password2">
                        
                      </div>
                    </div>
                    <div class="col-12 mb-2 mt-3">
                      <div class="input-group">
                        <button class="btn btn-primary w-100" type="submit" >Login</button>
                      </div>
                  </div>
                    <div class="col-12">
                      <p class="small mb-0">Don't have account? <router-link to="/account/register">Sign up</router-link></p>
                    </div>
                  </form>

                </div>
              </div>

          